# public, anonymous download urls
@tailormap-viewer:registry=https://pkgs.dev.azure.com/electricrucible/155346c4-4c3d-4269-a624-e98408645b68/_packaging/public-artifacts/npm/registry/
@tailormap-admin:registry=https://pkgs.dev.azure.com/electricrucible/155346c4-4c3d-4269-a624-e98408645b68/_packaging/public-artifacts/npm/registry/
registry=https://pkgs.dev.azure.com/electricrucible/155346c4-4c3d-4269-a624-e98408645b68/_packaging/public-artifacts/npm/registry/
always-auth=yes
